<section>
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-12 col-xl-12">
  
          <div class="card" style="border-radius: 15px;">
            <div class="card-body text-center">
              <div class="mt-6 mb-4">
                <img src="../../../assets/resources/images/21104.png"
                  class="rounded-circle img-fluid" style="width: 100px;" />
              </div>
              <h4 class="mb-2">{{user.userData['first_name']}} {{user.userData['last_name']}} </h4>
              <p class="text-muted mb-4">{{user.userData['position']}} <span class="mx-2">|</span> 
                <a>{{user.userData['working_group']}}</a>
                <span class="mx-2">|</span> 
                <a>{{user.userData['organization']}}</a>
                </p>
              <div class="mb-4 pb-2">
                <button type="button" class="btn btn-outline-primary btn-floating">
                  <i class="fab fa-facebook-f fa-lg"></i>
                </button>
                <button type="button" class="btn btn-outline-primary btn-floating">
                  <i class="fab fa-twitter fa-lg"></i>
                </button>
                <button type="button" class="btn btn-outline-primary btn-floating">
                  <i class="fab fa-skype fa-lg"></i>
                </button>
              </div>
              <button (click)="GoToDashboard()" type="button" class="btn btn-rounded btn-lg">
                Go to dashboard
              </button>
              <button (click)="AddNewDataset()" type="button" class="btn btn-rounded btn-lg">
                Add new dataset
              </button>
              <div class="d-flex justify-content-between text-center mt-5 mb-2">
                <div>
                  <p class="text-muted mb-0">{{user.userData['email']}}</p>
                </div>
                <div class="px-3">
                  <p class="text-muted mb-0">{{user.userData['location']}}</p>
                </div>
                <div>
                  <p class="text-muted mb-0">{{user.userData['phone_number']}}</p>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>
