.rotate90 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: var(--main-color-low);
    color: var(--secondary-color);
    font-weight: 600;
  }

.toolbar img {
    margin: 16px;
    width: 100px;
  }

  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


.disable-div{
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: white;
  position: fixed;
  top:0;
  left:0;
  visibility:hidden;
  filter: blur(4px);
  opacity: 0.5;
}

body{

  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.content {
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  position: relative;

}
.side{
  width: fit-content;
  height: 100dvh;
  top: 0;
  left: 0;
  position: fixed;

}

.chat{
  position: fixed;
  left:96dvw;
  width: 50px;
  height: 50px;
  background-color: #333;
}


.main-content{
  height: 100dvb;
  width: calc(100% - var(--main-content-margin) );
  display: flex;
  flex-direction: column;
  margin-left: var(--main-content-margin);
  transition: all 0.5s ease-in-out;
}
.routers{
  padding: 20px;
}

.banner{
  min-width: 100%;
  height: 100px;
}


  
    /* Responsive Styles */
@media screen and (max-width: 767px) {

}

@media screen and (max-width: 767px) {
  .main-content{
    --main-content-margin: 70px;
  }
}