<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<body class="home">
    <div class="display-table">
        <div class="row display-table-row">
            <div class="col-md-3 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo">
                    <a>
                        <img src="../../../assets/resources/images/21104.png"  class="hidden-xs hidden-sm">
                    
                    </a>
                </div>
                <h3>
                    {{currentUserName}}
                </h3>
                <div class="navi" (click)="NavItemClicked($event)">
                    <li class="active" id="p1"><a id="p1" ><i id="p1" class="fa fa-home" aria-hidden="true"></i><span id="p1" class="hidden-xs hidden-sm">Home</span></a></li>

                    <ul *ngFor='let project of projects;' >
                        <li id={{project.project_name}}><a id={{project.project_name}} ><i id={{project.project_name}} aria-hidden="true"></i><span id={{project.project_name}} class="hidden-xs hidden-sm">{{project.project_name}}</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 display-table-cell v-align">
                <div class="user-dashboard">
                    <h3>Datasets list</h3>
                    <table  >
                        <tr>
                        <th>Name</th>
                        <th>Added By</th>
                        <th>Method</th>
                        <th>Structure</th>
                        <th>Project</th>
                        <th>Added on</th>
                        </tr>
                        <tr *ngFor='let dataset of datasets;' class="table-row">
                            <td>{{dataset.dataset_name}} </td>
                            <td>{{dataset.login_name}}</td>
                            <td>{{dataset.method_name}}</td>
                            <td>{{dataset.structure_name}}</td>
                            <td>{{dataset.project_name}}</td>
                            <td>{{dataset.added_on}}</td>
                            <td style="width: 100px;">
                                <i id="icon" class="function-button-small material-icons" (click)="UseDataset(dataset.dataset_id, dataset.dataset_doi, dataset.dataset_name, dataset.structure_name)">arrow_forward</i>
                                <i id="icon" class="function-button-small material-icons" (click)="DeleteDataset(dataset.dataset_id)">delete</i>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</body>
