.items{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.logo-img{
    margin: 2px;
    width: 70px;
    transition: all 0.5s ease-in-out;
}

.buttons > div{
  margin-top: 20px;
}

.l-sidebar {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 70px;
  height: 100dvh;
  z-index: 10;
  left: 0;
  top: 0px;
  bottom: 0;
  background: var(--main-color-low);
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -ms-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.sidebar-is-expanded{
  --main-content-margin: 220px;
}



.sidebar-is-expanded .l-header {
    padding-left: 220px;
}

.sidebar-is-expanded .l-sidebar {
  width: 220px;
  --main-content-margin: 220px;
}

.sidebar-is-expanded .logo-img {
    width: 210px;
    margin: 5px;
  }
.c-menu > ul {
    margin-left: -40px;
  }
.c-menu__item {
    color: #fff;
    max-width: 100%;
    overflow: hidden;
  }
.c-menu__item__inner {
    margin: 3px;
    display: flex;
    border-bottom: 1px solid var(--secondary-color);

    border: 1px solid var(--secondary-color);
    flex-direction: row;
    align-items: center;
    min-height: 60px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

.c-menu__item i {
    flex: 0 0 70px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }



.c-menu__item .c-menu-item__title span {
    font-weight: 400;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .sidebar-is-expanded .c-menu__item .c-menu-item__title {
    left: 0px;
    opacity: 1;
  }



  .c-menu > ul .c-menu__item.is-active .c-menu__item__inner {
    border-left-color: var(--main-color-low);
    background-color:  var(--main-color);
  }



.c-menu__item.is-active .c-menu__item__inner .c-menu-item__title span {
    font-weight: bold;
  }
  .c-menu__item.is-active .c-menu__item__inner {
    background-color: var(--main-color);
    border-left: 2px solid white;
  }
 .c-menu__item:not(.is-active):hover .c-menu__item__inner {
    background-color: var(--main-color);
    border: none;
  }

  @media screen and (max-width: 767px) {
    .sidebar-is-expanded .l-header {
        padding-left: 100px;
      }

  }

  @media screen and (max-width: 575px) {

      .sidebar-is-expanded .l-header {
        padding-left: 10px;
      }

      .sidebar-is-expanded .l-sidebar {
        width: 70px;
      }
      .toggle__btn{ 
        display: block;
      }
      .sidebar-is-expanded .logo-img{
        margin: 5px;
        width: 70px;
    }
    #exp-btn{
      display: none;
    }
  }