<div class="landing-page">


<header>
  <nav class="header-nav">
    <div class="left">
        <img src="../../assets/resources/images/daphne.png" alt="daphne-nfdi-logo">
    </div>
    <div class="middle">
      <i id="home"(click)="Scroll($event)" class="active-section header-item">
        <div id="home">Home</div>
      </i>  
      <i  id="about"(click)="Scroll($event)" class="header-item">
        <div id="about">About</div>
      </i>  
      <i  id="news" (click)="Scroll($event)" class="header-item">
        <div id="news" >News</div>
      </i> 
      <i id="contributors" (click)="Scroll($event)" class="header-item">
        <div id="contributors">Contributors</div>
      </i>  
      <i  id="contact" (click)="Scroll($event)" class="header-item">
        <div id="contact">Contact Us</div>
      </i>  
    </div>
    <div class="right">
        <button  (click)="OnSignUpClicked()">
            Sign Up
        </button>
        <button class="" (click)="OnLoginClicked()">
          Login
        </button>
    </div>
  </nav>
</header>


<div class="content-wrapper">
    <div id="home-div" class="home">
      <div class="animated-thumbnails">
        <i class="fas fa-search">
          <span><strong>Findable</strong> </span>
        </i>  
        <i class="far fa-hand-pointer">
          <span><strong>Accessible</strong> </span>
        </i> 
        <i class="fa fa-gears">
          <span><strong>Interoperable</strong> </span>
        </i> 
        <i class="fas fa-recycle">
          <span><strong>Reusable</strong></span>
        </i> 
      </div>
      <div class="home-wrapper">
        <h1>Make your data FAIR with {{ title }}</h1>
        <h3>Link electronic laboratory log books (ELNs)</h3>
        <h3>Create repositories of processed (reduced) data</h3>
        <h3>Create, curate and foster analysis software</h3>
        <h3>Develop a common data policy between users and large-scale facilities </h3>
      </div>
    </div>


    <div id="about-div" class="about">
      <div class="about-wrapper">
        <div class="about-inner">
          <div class="about-card">
            <div class="about-image">
                <img src="../../assets/resources/images/team.jpg" alt="daphne-team"/>
            </div>
            <div class="about-info">
              <h2 class="title">Who Are We</h2>
              <p>
                The DAPHNE4NFDI community comprises more than 5500 scientists throughout
                 Germany represented by the KFS and KFN. In fact, there are many more 
                 users within these areas, e.g. solid state physicists, molecular 
                 /atomic physicists, protein crystallographers, chemists, scientists 
                 in catalysis, life sciences, materials sciences, archeology and many 
                 other areas. The users produce ca. 28 PB of data per year, which are 
                 once again used by a wider science community from which the users come. Individual experiments can produce millions of files and in some cases over 1 PB data per week, depending on the experimental configuration. Moreover, the community is currently witnessing a fundamental change in both the amount of data recorded and the corresponding data rates triggered by the increase in the brightness of the sources themselves (x-ray free-electron lasers, high-brightness storage rings and new neutron facilities) and by the rapid increase in the size and speed of modern detectors.
              </p>
            </div>
          </div>
          <div class="about-card">
            <div class="about-image">
                <img src="../../assets/resources/images/nfdi.png" alt="nfdi-logo"/>
            </div>
            <div class="about-info">
              <h2 class="title">Our Story</h2>
              <p>
                The DAPHNE4NFDI (DAta for Neutrons and PHotons NEutrons) initiative is a German national research 
                project that funded by the German National Research Data infrastructure (NFDI). 
                It aims to establish a sustainable research infrastructure for data 
                analysis and processing in the field of photon and neutron research. 
                This infrastructure will support scientific research in a variety of areas, 
                including materials science, physics, chemistry, and biology.
              </p>
            </div>
          </div>        
          <div class="about-card">
            <div class="about-image">
                <img src="../../assets/resources/images/ourmission.jpg" alt="daphne-mission"/>
            </div>
            <div class="about-info">
              <h2 class="title">Our Mission</h2>
              <p>
                Uniquely, DAPHNE4NFDI engages directly with the user community to develop user-driven data solutions 
                to advance science experiments. 
                Broadly, we will provide the following tangible infrastructure through DAPHNE4NFDI for the wider 
                photon and neutron community:

                Improve metadata capture through consistent workflows supported by user-driven online logbooks that 
                are linked to the data collection, thus enabling a richer capture of information 
                about the experiments than is currently possible;
                Establish a community repository of processed data, new reference databases 
                and analysis code for published results, linked, where possible, to raw data sources, 
                to sustainably improve access to research data and enable data and software re-use;
                Develop, curate and deploy user-developed analysis software on facility computing 
                infrastructure so that ordinary users can benefit from and repeat the analysis 
                performed by leading power user groups through common data analysis portals.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
         
    <div id="news-div" class="news">

    </div>
    <div id="contributors-div" class="contributors">

    </div>
    <div id="contact-div" class="contact">

    </div>

     <!--
    <div class="card highlight-card card-small">
      <span>{{ title }} landing-page (testing)</span>
    </div>

    <div class="card-container">
      <div class="btns-box">
        <a class="card" (click)="OnSignUpClicked()">
            <h3>Sign Up</h3>
        </a>
        <a class="card" (click)="OnLoginClicked()">
          <h3>Login</h3>
        </a>
      </div>

      <div class="logo-banner">
        <img src="../../assets/resources/images/logo_new.jpg" alt="">
      </div> -->
    


</div>
</div>