
<div class="content" role="main">

    <div class="card highlight-card card-small">
      <span>{{ title }} landing-page (testing)</span>
    </div>
  
    <div class="card-container">
      <div class="btns-box">
        <a class="card" (click)="OnSignUpClicked()">
            <h3>Sign Up</h3>
        </a>
        <a class="card" (click)="OnLoginClicked()">
          <h3>Login</h3>
        </a>
      </div>

      <div class="logo-banner">
        <img src="../../assets/resources/images/logo_new.jpg" alt="">
      </div>
    


</div>
