
  .floatingButton{
    position:fixed;
    width:60px;
    height:60px;
    bottom:110px;
    right:40px;
    background-color:var(--main-color);
    color:var(--white-color);
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    cursor: pointer;
    transition: 1s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .floatingButton:hover{
    background-color: var(--main-color-low);
    transform: scale(1.2);
  }
 
  
  .floatingButton i{
    font-size: 3em;
    align-items: center;
  }