<div>
    <div class="row title-row">
        <div *ngIf="!titleEditingMode" class="title">
            {{inUseELN.eln_name}}
        </div>
        
        <div *ngIf="!titleEditingMode && !editingMode" class="edit-title" (click)="StartTitleEditing(true)">
            <i class="fas fa-pen">
                <span>Edit name</span>
            </i>
        </div>
        <input *ngIf="titleEditingMode" type="text" id="new-title" value="{{inUseELN.eln_name}}">
        <div *ngIf="titleEditingMode" class="edit-btns">
            <i class="fas fa-check-circle" (click)="UpdateELNName()"></i>
            <i class="fas fa-times-circle" (click)="StartTitleEditing(false)"></i>
        </div>
    </div>

    <div class="row btns">
        <i *ngIf="!editingMode" (click)="StartEdit()" class="fas fa-edit header-item">
            <div>Edit</div>
        </i>
        <i *ngIf="!editingMode" (click)="SaveAsPdf()" class="fas fa-file-download header-item">
            <div>Save pdf</div>
        </i>
        <i *ngIf="editingMode" (click)="SaveEdit()" class="fas fa-save header-item">
            <div>Save</div>
        </i>
    </div>
    <div *ngIf="editingMode" class="row">
        <quill-editor class=" col-12 ql-snow ql-editor" id="quill" [modules]="modules" (onEditorCreated)="StartEditor($event)" (onEditorChanged)="EditorChanged($event)"></quill-editor>
    </div>
    <div id="preview" class=" col-12 bg-light ql-snow ql-editor">

    </div>
</div>


<!-- <div class="row ql-snow">

</div> -->
