<div class="eln-content-wrap">

    
    <div class="title-row">
        <div *ngIf="!titleEditingMode" class="title">
            {{inUseELN.eln_name}}
        </div>
        
        <div *ngIf="!titleEditingMode && !editingMode" class="edit-title" (click)="StartTitleEditing(true)">
            <i class="fas fa-pen">
                <span>Edit name</span>
            </i>
        </div>
        <input *ngIf="titleEditingMode" type="text" id="new-title" value="{{inUseELN.eln_name}}">
        <div *ngIf="titleEditingMode" class="edit-btns">
            <i class="fas fa-check-circle" (click)="UpdateELNName()"></i>
            <i class="fas fa-times-circle" (click)="StartTitleEditing(false)"></i>
        </div>
    </div>

    <div class="btns">
        <i *ngIf="!editingMode" (click)="StartEdit()" class="fas fa-edit header-item">
            <div>Edit</div>
        </i>
        <i *ngIf="!editingMode" (click)="SaveAsPdf()" class="fas fa-file-download header-item">
            <div>Save pdf</div>
        </i>
        <i *ngIf="editingMode" (click)="SaveEdit()" class="fas fa-save header-item">
            <div>Save</div>
        </i>

        <i (click)="OnGoToDashboard()" class="fas fa-dashboard header-item">
            <div>Dashboard</div>
        </i>
    </div>
    <div class="main-content">

        <div *ngIf="editingMode" class="editor">
            <quill-editor class="ql-snow ql-editor" id="quill" [modules]="modules" (onEditorCreated)="StartEditor($event)" (onEditorChanged)="EditorChanged($event)"></quill-editor>
        </div>
        <div id="preview" class="bg-light ql-snow ql-editor">
        </div>
        <div class="eln-info">
            <div class="info-box">
                <div class="info-box-title">
                    <span class="fas fa-info"></span>
                    <p>ELN details and description</p>
                </div>
                <div class="info-box-body">
                    <div class="info-item">
                        <p>Added by</p><h3>{{inUseELN.first_name}} {{inUseELN.last_name}}</h3>
                    </div>
                    <div class="info-item">
                        <p>Added on</p><h3>{{inUseELN.eln_added_on}}</h3>
                    </div>
                    <div class="info-item">
                        <p>Last modification on</p><h3>{{inUseELN.eln_last_modified_on}}</h3>
                    </div>
              
                </div>
            </div>
            <div class="info-box">
                <div class="info-box-title">
                    <span class="fas fa-link"></span>
                    <p>Linked datasets</p>
                </div>
                <div class="linked-datasets-box-body">
                    <div *ngFor="let d of inUseELN.linked_datasets_names" class="linked-dataset-item">
                        <p>{{d}}</p>
                    </div>  
                    <div class="link-new-dataset header-item">
                        <i *ngIf="!editingMode"  class="fas fa-link">
                            <div>Link dataset</div>
                        </i>
                    </div>             
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="row ql-snow">

</div> -->
