

.eln-content-wrap{
    position: relative; 
    width: 97dvw;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    
}




.main-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content:space-between;
    flex-wrap: wrap;
    
}


.title-row{
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    margin-bottom: 50px;
    width: 100%;
    
}
.title{
    font-weight: bolder;
    font-size: 45px;
    margin-bottom: 20px;
}

.edit-title{
    width: fit-content;
    font-size: 18px;  
    color: blue;
}


.edit-btns{
    font-size: 30px;  
    
}
.edit-btns i{
    width: fit-content;
    transition: 0.2s ease-in-out;
    color: var(--ok-green);
}
.edit-btns i:not(:first-child){
    margin-left: 40px;
    color: var(--cancel-red);
}

.edit-btns i:hover{
    transform: scale(1.3);
    cursor: pointer;
}

.edit-title span{
    margin-left: 10px;
    
}

.edit-title:hover{
    cursor: pointer;  
}

.btns{
    background-color: var(--daphne-color-1-low);
    color: var(--main-color);
    min-height: 90px;
    margin-bottom: 50px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    row-gap: 5px;    
    flex-wrap: wrap;
    padding: 10px;
    box-shadow:3px 3px 3px 3px rgba( 0, 0, 0, 0.3 );
}

#preview{
  width: 65%;
  height:90%;
  border-radius: 10px;
  padding: 30px;
  min-width: 400px; 
  transition: all 0.5s ease-in-out;
  box-shadow:3px 3px 25px 10px rgba( 0, 0, 0, 0.5 );
}
.editor{
    width: 65%;
    height:90%;
    min-width: 400px;
    border-radius: 10px;
    box-shadow:3px 3px 25px 10px rgba( 0, 0, 0, 0.5 ); 
}
.eln-info{
    width: 25%;
    min-width: 400px;
    flex-shrink: 1;
    height: fit-content;
}

.info-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow:var(--shadow-small);
    margin-bottom: 50px;
    background-color:white;
}
.info-box-title{
    display: flex;
    flex-direction: row;
    position: relative;
    height: fit-content;
    justify-content:flex-start;
    column-gap: 5%;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
}

.info-box-title span{
    display: flex;
    width: 70px;
    height: 70px;
    color: white;
    font-size:xx-large;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: var(--daphne-color-1);
}

.info-box-body, .linked-datasets-box-body{
    padding: 10px 10px 50px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10%;
    justify-content:space-around;
    align-items: center;

}

.info-item{
    margin-top: 15px;
    padding: 10px;
    justify-content: center;
    box-shadow:3px 3px 3px 3px rgba( 0, 0, 0, 0.5 );
}


.info-item p{
    text-align: center;
    font-weight: bold;
}

.info-item h3{
    color: var(--main-color);
}

.linked-datasets-box-body{
    flex-direction: column;
    row-gap: 10px;
    justify-content: flex-start;
    align-items:center;
}

.linked-dataset-item{
    text-align: center;
    color: white;
    height: 50px;
    width: 100%;
    font-size: 2em;
    padding: 5px;
    background-color: var(--daphne-color-1);
}


#new-title{
    height: 50px;
    font-size: 25px; 
    padding: 5px;
}

.header-item{
    width: 200px;
    background-color: var(--daphne-color-1);
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 30px;
    font-weight: 10px;
    padding: 20px;
    justify-content:center;
    text-align: center;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  .header-item div{
    margin-top: 10px;
    font-size: .5em;
  }
  
  .header-item:hover{
    transform: scale(1.2);
    border: 2px solid white;
  }

  .link-new-dataset{
    margin-top: 20px;
  }

@media screen and (max-width: 767px) {
    .eln-content{
        width: 93dvw;
        padding: 10px;
    }
    
}